.header{
    width: 100%;
    margin: 0 auto;
    height: 206px;
}

.container{
    width: 86%;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.logo{
    color: black;
    text-decoration: none;
    font-size: 40px;
    width: 135px;
    display: block;
}

.nav__block{
    display: flex;
    list-style-type: none;
}

.nav__list{
    margin-right: 20px;
}

.nav__link{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.address__geolocation:nth-child(1){
    transform: translate(-60px, 0);
}
.address__geolocation:nth-child(3){
    transform: translate(45px, 0);
}

.address__geolocation a{
    text-decoration: none;
    color: black;
}

.phone__number{
    text-transform: uppercase;
}

.contact a{
    display: block;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}