.header {
    width: 100%;
    margin: 0 auto;
    height: 206px;
}

.container {
    width: 86%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.logo {
    color: black;
    text-decoration: none;
    font-size: 40px;
    width: 135px;
    display: block;
}



.nav__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    align-items: center;
    column-gap: 40px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
}

.nav-list__link {
    text-decoration: none;
    color: black;
    transition: opacity 0.2s ease-in;
}

.nav-list__link:hover {
    opacity: 0.8;
}

.nav-list__link--active {
    position: relative;
}

.nav-list__link--active::before {
    content: '';

    position: absolute;
    left: 0;
    top: 100%;

    display: block;
    height: 2px;
    width: 100%;
    background-color: blue;
}

.address__geolocation:nth-child(1) {
    transform: translate(-60px, 0);
}

.address__geolocation:nth-child(3) {
    transform: translate(45px, 0);
}

.address__geolocation a {
    text-decoration: none;
    color: black;
}

.phone__number {
    text-transform: uppercase;
}

.contact a {
    display: block;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}